body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.navbar {
    align-content: center;
    margin-bottom: 20px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    font-size: 1.25rem;
    width: 100%;
}
.form-inline {
    display: flex;
    justify-content: center;
}

h1, h2 {
    margin-bottom: 20px;
    font-weight: 300;
    color: #333;
}

.form-group {
    margin-right: 1px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit {

}
